# Ignore project virtual environment in the .venv folder
.venv/

# Ignore Visual Studio Code settings in the .vscode folder
.vscode/

# Ignore macOS specific files
.DS_Store

# Jupyter notebook checkpoints
 .ipynb_checkpoints/